<div class="container">
  <h1>Link Shortener!</h1>
  <form action='/urls' method='post'>
    URL:<input type='text' name='original_url'>
    <input type='submit' value='Shorten Link'>
  </form>

  <table>
  </table>
</div>

  <!-- # let user create new short URL, display a list of shortened URLs -->
